workflows/ETl6Q6cwPzPBw0AL.json
{"createdAt":"2025-09-25T09:45:11.032Z","updatedAt":"2025-09-25T12:41:14.000Z","id":"ETl6Q6cwPzPBw0AL","name":"Leave Request","active":false,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"leave-request","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[0,0],"id":"774a9e51-4e70-406a-80ef-8498c99ac690","name":"Webhook","webhookId":"0631d506-31d1-4663-983d-bf8c1f24790b"},{"parameters":{"jsCode":"// Read input from the Webhook body\nconst b = $json.body || {};\n\nconst required = [\"name\", \"email\", \"days\", \"startDate\", \"reason\"];\nconst missing = required.filter(k => b[k] === undefined || b[k] === null || b[k] === \"\");\n\nconst isValid = missing.length === 0;\n\n// Normalize/format\nconst days = Number(b.days);\nconst manager = b.manager ?? \"Unassigned\";\nconst summary = `${b.name} requests ${days} day(s) off starting ${b.startDate} (${b.reason}). Manager: ${manager}`;\n\nreturn [\n  {\n    json: {\n      isValid,\n      missing,\n      normalized: {\n        name: b.name ?? \"\",\n        email: b.email ?? \"\",\n        days: isFinite(days) ? days : null,\n        startDate: b.startDate ?? \"\",\n        reason: b.reason ?? \"\",\n        manager,\n        createdAt: new Date().toISOString(),\n        summary\n      }\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[208,0],"id":"17946ca9-a751-478d-add8-62ce5698292f","name":"Code in JavaScript"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ce068b2b-0597-488b-9deb-a28b25dcf9f1","leftValue":"={{$json.isValid}}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[416,0],"id":"75ba3575-c12b-40a7-89cd-53d1a33f2855","name":"If"},{"parameters":{"respondWith":"json","responseBody":"={{ {\n  status: \"error\",\n  message: \"Missing required fields\",\n  missing: $node[\"Code in JavaScript\"].json.missing ?? []\n} }}","options":{"responseCode":400}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[832,48],"id":"a4f7a976-9749-41a4-9f16-9dda75709c76","name":"Respond to Webhook"},{"parameters":{"respondWith":"json","responseBody":"={{ {\n  status: \"ok\",\n  message: \"Leave request received\",\n  data: $node[\"Code in JavaScript\"].json.normalized ?? {}\n} }}","options":{"responseCode":200}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[832,-64],"id":"befca69c-7f56-41b5-b271-98fb7ca22082","name":"Respond to Webhook1"},{"parameters":{"sendTo":"={{$json.normalized.email}}","subject":"Leave Request Received","message":"=<p>Hi {{ $json.normalized.name }},</p>  <p>Your leave request has been <b>received</b>.</p>  <p><b>Details:</b></p> <ul>   <li><b>Days:</b> {{ $json.normalized.days }}</li>   <li><b>Start Date:</b> {{ $json.normalized.startDate }}</li>   <li><b>Reason:</b> {{ $json.normalized.reason }}</li> </ul>  <p>We’ll notify your manager ({{ $json.normalized.manager || \"Unassigned\" }}) for approval.</p>  <p>Thank you,<br> Office Automation System</p>","options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[640,-112],"id":"620e9f0b-2607-4de3-8dc7-9d69f629522a","name":"Send a message","webhookId":"d09513c8-9a30-441b-a5d9-aa7b62ed2ffe","credentials":{"gmailOAuth2":{"id":"O5GsiCBNfDlTn54Z","name":"Gmail account"}}},{"parameters":{"sendTo":"={{ $json.email || \"fallback@email.com\" }}","subject":"Leave Request Denied","message":"=<p>Hi {{ $json.name || \"Employee\" }},</p>\n\n<p>Your leave request could not be processed because some required fields are missing.</p>\n\n<p><b>Missing fields:</b> {{ $json.missing }}</p>\n\n<p>Please resubmit your request with the complete information.</p>\n\n<p>Thank you,<br>\nOffice Automation System</p>","options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[640,80],"id":"d692d451-a9d9-4b1d-a012-5333b9ccdc78","name":"Send a message1","webhookId":"cb2690a9-a3ec-46e4-8ef5-8841b773afb5","credentials":{"gmailOAuth2":{"id":"O5GsiCBNfDlTn54Z","name":"Gmail account"}}}],"connections":{"Webhook":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Send a message","type":"main","index":0}],[{"node":"Send a message1","type":"main","index":0}]]},"Send a message":{"main":[[{"node":"Respond to Webhook1","type":"main","index":0}]]},"Send a message1":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"97f2f22a-6b68-4c55-a597-7785a5204aad","triggerCount":0,"tags":[],"shared":[{"createdAt":"2025-09-25T09:45:11.038Z","updatedAt":"2025-09-25T09:45:11.038Z","role":"workflow:owner","workflowId":"ETl6Q6cwPzPBw0AL","projectId":"usr9sRWbH5Gm8xl8","project":{"createdAt":"2025-09-25T06:39:43.266Z","updatedAt":"2025-10-04T05:46:06.787Z","id":"usr9sRWbH5Gm8xl8","name":"Kenny s <suzaan.shan123@gmail.com>","type":"personal","icon":null,"description":null}}]}