workflows/gwWfTarjWntpMLxy.json
{"createdAt":"2025-09-25T07:40:09.288Z","updatedAt":"2025-09-25T09:40:37.000Z","id":"gwWfTarjWntpMLxy","name":"Instant Enrichment","active":false,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"demo-enrich","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[0,0],"id":"835f0525-bbf0-47b9-9ae5-32afba90f7a7","name":"Webhook","webhookId":"92d49bfa-ab33-418b-9dc5-4506bc4e748c"},{"parameters":{"url":"https://catfact.ninja/fact","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[208,0],"id":"31a56a5c-cf81-41b9-a59d-fb6d9404f2ea","name":"HTTP Request"},{"parameters":{"jsCode":"// get the cat fact from HTTP Request\nconst fact = $json.fact || \"Cats are mysterious.\";\n\n// get the name from the Webhook input\nconst name = $node[\"Webhook\"].json?.body?.name ?? \"there\";\n\n// build the custom message\nreturn [\n  {\n    json: {\n      message: `Hey ${name}! Fun fact: ${fact}`\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[416,0],"id":"e166d70d-819a-42c1-98b8-0f171d1f473a","name":"Code in JavaScript"},{"parameters":{"options":{"responseCode":200}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[624,0],"id":"9464bf76-7626-4ee9-9fe9-e301beca1364","name":"Respond to Webhook"}],"connections":{"Webhook":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"a8ebdb04-fce2-436c-a3c3-d40856081e60","triggerCount":0,"tags":[],"shared":[{"createdAt":"2025-09-25T07:40:09.291Z","updatedAt":"2025-09-25T07:40:09.291Z","role":"workflow:owner","workflowId":"gwWfTarjWntpMLxy","projectId":"usr9sRWbH5Gm8xl8","project":{"createdAt":"2025-09-25T06:39:43.266Z","updatedAt":"2025-10-04T05:46:06.787Z","id":"usr9sRWbH5Gm8xl8","name":"Kenny s <suzaan.shan123@gmail.com>","type":"personal","icon":null,"description":null}}]}