workflows/NmVJSnrc5GksUTs2.json
{"createdAt":"2025-10-06T06:37:04.720Z","updatedAt":"2025-10-06T06:37:04.720Z","id":"NmVJSnrc5GksUTs2","name":"Book Translation Tournament (Paragraph-wise)","active":false,"isArchived":false,"nodes":[{"parameters":{},"id":"e5d648fb-86ef-4b1e-8c98-dea64ca72a51","name":"Manual Trigger","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,0]},{"parameters":{"values":{"string":[{"name":"book_id","value":"my-book-001"},{"name":"source_file_url","value":"https://example.com/book.md"},{"name":"languages","value":"es,fr,de,hi,ar"},{"name":"engines","value":"openai,google,microsoft"},{"name":"openai_model","value":"gpt-4o-mini"},{"name":"judge_model","value":"gpt-4o-mini"},{"name":"min_len_ratio","value":"0.6"},{"name":"max_len_ratio","value":"1.8"},{"name":"preserve_tokens","value":"CompanyName,ProductX"}]},"options":{}},"id":"8d747e22-be6e-4a77-92d6-73003cfc1d96","name":"Set Config","type":"n8n-nodes-base.set","typeVersion":2,"position":[224,0]},{"parameters":{"url":"={{$json.source_file_url}}","options":{}},"id":"239ed70b-9cda-4ba2-82c6-e739ae6327f0","name":"Fetch Source (Markdown)","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[448,0]},{"parameters":{},"id":"c6fe44e6-7ece-480e-8f80-cd9f6494d293","name":"Paragraphize & Protect","type":"n8n-nodes-base.function","typeVersion":2,"position":[672,0]},{"parameters":{},"id":"38be3994-6713-452c-b37c-44731125d0b6","name":"Fan-out (langs × engines)","type":"n8n-nodes-base.function","typeVersion":2,"position":[880,0]},{"parameters":{},"id":"6b586026-355d-484f-802e-a7b03f184b16","name":"Build Translate Requests","type":"n8n-nodes-base.function","typeVersion":2,"position":[1104,0]},{"parameters":{"url":"={{$json.http.url}}","sendQuery":"={{!!$json.http.qs}}","queryParameters":{"parameters":[{}]},"sendHeaders":"={{!!$json.http.headers}}","headerParameters":{"parameters":[{}]},"sendBody":"={{$json.http.sendBody}}","bodyParameters":{"parameters":[{}]},"options":{}},"id":"643766ed-8fe8-45b9-b4e8-e128055a5061","name":"HTTP → Translate (generic)","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[1328,0]},{"parameters":{},"id":"5702ca24-8dca-4f31-91c9-773d68a62f01","name":"Normalize Candidate","type":"n8n-nodes-base.function","typeVersion":2,"position":[1552,0]},{"parameters":{},"id":"f5950aef-04ec-49e3-84ac-a066bd2f1780","name":"Heuristic Checks","type":"n8n-nodes-base.function","typeVersion":2,"position":[1760,0]},{"parameters":{},"id":"4fe32542-2b28-46a8-bfc1-e46107fac0a5","name":"Group Candidates","type":"n8n-nodes-base.function","typeVersion":2,"position":[1984,0]},{"parameters":{},"id":"09cd8c51-7127-4fb7-8437-5618674e31da","name":"Build Judge Requests","type":"n8n-nodes-base.function","typeVersion":2,"position":[2208,0]},{"parameters":{"url":"={{$json.http.url}}","sendHeaders":"={{!!$json.http.headers}}","headerParameters":{"parameters":[{}]},"sendBody":"={{$json.http.sendBody}}","bodyParameters":{"parameters":[{}]},"options":{}},"id":"899a4aaa-8be5-4334-9f4f-d195c758b341","name":"HTTP → Judge (OpenAI)","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[2432,0]},{"parameters":{},"id":"9bca96e7-5d6a-48d2-a3b4-78f8bb644155","name":"Pick Winner","type":"n8n-nodes-base.function","typeVersion":2,"position":[2640,0]},{"parameters":{},"id":"3a93cb8e-fec1-4147-8050-098cd33cda77","name":"Reassemble (per language)","type":"n8n-nodes-base.function","typeVersion":2,"position":[2864,0]},{"parameters":{"url":"={{$env.SUPABASE_URL}}/rest/v1/book_translations","sendBody":true,"bodyParameters":{"parameters":[{}]},"options":{}},"id":"d43afc31-5496-49a9-b19f-8d5c4696c231","name":"Supabase → Save Full (optional)","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[3088,0]}],"connections":{"Manual Trigger":{"main":[[{"node":"Set Config","type":"main","index":0}]]},"Set Config":{"main":[[{"node":"Fetch Source (Markdown)","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"0e031223-d9d1-4c1f-bc50-221e22eedbb5","triggerCount":0,"tags":[],"shared":[{"createdAt":"2025-10-06T06:37:04.725Z","updatedAt":"2025-10-06T06:37:04.725Z","role":"workflow:owner","workflowId":"NmVJSnrc5GksUTs2","projectId":"usr9sRWbH5Gm8xl8","project":{"createdAt":"2025-09-25T06:39:43.266Z","updatedAt":"2025-10-04T05:46:06.787Z","id":"usr9sRWbH5Gm8xl8","name":"Kenny s <suzaan.shan123@gmail.com>","type":"personal","icon":null,"description":null}}]}