workflows/rWrqbvNZPGqfQd4T.json
{"createdAt":"2025-10-09T12:27:59.307Z","updatedAt":"2025-10-10T08:25:42.000Z","id":"rWrqbvNZPGqfQd4T","name":"Lead Collector","active":false,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"sales-leads","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[0,0],"id":"0ad7c6e1-146a-4702-9622-2925b0cf09f9","name":"Webhook","webhookId":"7ad85a40-5da7-4bf0-ba37-74faa284dcef"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1RNnYu9ExJAyg6QmCULLl_C7xZJmVEVx7aibvuvRkinE","mode":"list","cachedResultName":"Sales Leads","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1RNnYu9ExJAyg6QmCULLl_C7xZJmVEVx7aibvuvRkinE/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Leads","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1RNnYu9ExJAyg6QmCULLl_C7xZJmVEVx7aibvuvRkinE/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Timestamp":"={{$json.timestamp}}\n","leadId":"={{$json.leadId}}\n","name":"={{$json.name}}\n","email":"={{$json.email}}\n","phone":"={{$json.phone}}\n","company":"={{$json.company}}\n","message":"={{$json.message}}\n","status":"={{$json.status}}\n"},"matchingColumns":[],"schema":[{"id":"Timestamp","displayName":"Timestamp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"leadId","displayName":"leadId","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"name","displayName":"name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"email","displayName":"email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"phone","displayName":"phone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"company","displayName":"company","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"message","displayName":"message","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[448,0],"id":"72450a45-56d8-42f1-9d5f-be827172932c","name":"Append row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"uAGYbCnT0zyVBjr9","name":"Google Sheets account"}}},{"parameters":{"sendTo":"tundaykebabi69@gmail.com","subject":"=New Lead: {{$json.name || \"Unknown\"}}","message":"=<h3>New Lead Received</h3>\n<ul>\n  <li><b>Name:</b> {{$json.name}}</li>\n  <li><b>Email:</b> {{$json.email}}</li>\n  <li><b>Phone:</b> {{$json.phone}}</li>\n  <li><b>Company:</b> {{$json.company}}</li>\n  <li><b>Message:</b> {{$json.message}}</li>\n</ul>\n<p><b>Status:</b> {{$json.status}}</p>","options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[704,0],"id":"fe256bb3-d779-49f7-b8d7-8e127a92436e","name":"Send a message","webhookId":"c7563f6c-aca2-4021-9720-c6b1d3b7c86b","credentials":{"gmailOAuth2":{"id":"O5GsiCBNfDlTn54Z","name":"Gmail account"}}},{"parameters":{"calendar":{"__rl":true,"value":"tundaykebabi69@gmail.com","mode":"list","cachedResultName":"tundaykebabi69@gmail.com"},"start":"={{$json.start}}","end":"={{$json.end}}","additionalFields":{"attendees":["={{ ($json.attendeeEmail || $json.email || '').trim() }}"],"description":"={{\n`Lead ID: ${$json.leadId || '—'}\nName: ${$json.name || '—'}\nEmail: ${$json.email || '—'}\nPhone: ${$json.phone || '—'}\nCompany: ${$json.company || '—'}\nMessage: ${$json.message || '—'}\nStatus: ${$json.status || '—'}`\n}}","summary":"={{ `New Lead: ${$json.name || 'Unknown'} (${ $json.company || '—' })` }}"}},"type":"n8n-nodes-base.googleCalendar","typeVersion":1.3,"position":[448,-176],"id":"8ec926c3-a8e7-4f01-8637-3319fea8ca32","name":"Create an event","credentials":{"googleCalendarOAuth2Api":{"id":"VEDlVfS45PasL33r","name":"Google Calendar account"}}},{"parameters":{"respondWith":"json","responseBody":"={{ {\n  status: \"ok\",\n  message: \"Lead added, email sent, and calendar event created successfully!\",\n  eventLink: $json.htmlLink,\n  eventId: $json.id\n} }}","options":{"responseCode":200}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[912,0],"id":"1fb96557-a611-42cf-8804-ae84bdeaef6a","name":"Respond to Webhook"},{"parameters":{"assignments":{"assignments":[{"id":"f2e657f3-852e-4a0f-ad62-eae37103c643","name":"timestamp","value":"={{$now}}","type":"string"},{"id":"472e25e6-1ea2-415a-86be-b16e6088c38d","name":"leadId","value":"={{$json.body.leadId || $now.format('YYYYMMDDHHmmss')}}","type":"string"},{"id":"ce62c064-4301-410f-9358-f7b9c7154476","name":"=name","value":"={{$json.body.name || '—'}}","type":"string"},{"id":"a8b5a62d-cda7-4407-b3ed-2f13d6e67eb1","name":"email","value":"={{$json.body.email || ''}}","type":"string"},{"id":"1cfb34b1-653c-4b91-898d-69ac39afacbe","name":"phone","value":"={{$json.body.phone || ''}}","type":"string"},{"id":"b99e5664-cce4-4b95-afff-d0b041c626f9","name":"company","value":"={{$json.body.company || ''}}","type":"string"},{"id":"3a6c013a-e409-4d84-b3bf-ddc50a6bd295","name":"message","value":"={{$json.body.message || ''}}","type":"string"},{"id":"4512ae03-6e0a-4e67-a3c3-29236a9ce5a5","name":"status","value":"={{$json.body.status || 'New'}}","type":"string"},{"id":"9770f7eb-a426-499d-a844-7c3924fa76f0","name":"start","value":"={{$json.body.start || $now}}","type":"string"},{"id":"f9d88ea0-7861-4b9e-9ea8-e13749917c1b","name":"end","value":"={{$json.body.end || $now.plus($json.body.durationMinutes || 60, 'minute')}}","type":"string"},{"id":"e3896bb7-79a0-4740-9097-0d03bcf91007","name":"attendeeEmail","value":"={{$json.body.email}}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[208,0],"id":"4091effa-746d-40fe-ae92-e88bb50b82a2","name":"Edit Fields"}],"connections":{"Webhook":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Append row in sheet":{"main":[[{"node":"Send a message","type":"main","index":0}]]},"Send a message":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Create an event":{"main":[[{"node":"Send a message","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Append row in sheet","type":"main","index":0},{"node":"Create an event","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"8de3c439-32b8-4dc5-95ae-6438b067323b","triggerCount":1,"tags":[],"shared":[{"createdAt":"2025-10-09T12:27:59.312Z","updatedAt":"2025-10-09T12:27:59.312Z","role":"workflow:owner","workflowId":"rWrqbvNZPGqfQd4T","projectId":"usr9sRWbH5Gm8xl8","project":{"createdAt":"2025-09-25T06:39:43.266Z","updatedAt":"2025-10-04T05:46:06.787Z","id":"usr9sRWbH5Gm8xl8","name":"Kenny s <suzaan.shan123@gmail.com>","type":"personal","icon":null,"description":null}}]}