workflows/rWrqbvNZPGqfQd4T.json
{"createdAt":"2025-10-09T12:27:59.307Z","updatedAt":"2025-10-09T13:52:25.000Z","id":"rWrqbvNZPGqfQd4T","name":"Lead Collector","active":false,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"sales-leads","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[0,0],"id":"0ad7c6e1-146a-4702-9622-2925b0cf09f9","name":"Webhook","webhookId":"7ad85a40-5da7-4bf0-ba37-74faa284dcef"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1RNnYu9ExJAyg6QmCULLl_C7xZJmVEVx7aibvuvRkinE","mode":"list","cachedResultName":"Sales Leads","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1RNnYu9ExJAyg6QmCULLl_C7xZJmVEVx7aibvuvRkinE/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Leads","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1RNnYu9ExJAyg6QmCULLl_C7xZJmVEVx7aibvuvRkinE/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Timestamp":"={{$now}}\n","leadId":"={$json.leadId || $now.format(\"YYYYMMDDHHmmss\")}}","name":"={{$json.name || \"\"}}","email":"={{$json.email || \"\"}}","phone":"={{$json.phone || \"\"}}","company":"={{$json.company || \"\"}}","message":"={{$json.message || \"\"}}","status":"={{$json.status || \"New\"}}"},"matchingColumns":[],"schema":[{"id":"Timestamp","displayName":"Timestamp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"leadId","displayName":"leadId","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"name","displayName":"name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"email","displayName":"email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"phone","displayName":"phone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"company","displayName":"company","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"message","displayName":"message","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[208,0],"id":"72450a45-56d8-42f1-9d5f-be827172932c","name":"Append row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"uAGYbCnT0zyVBjr9","name":"Google Sheets account"}}},{"parameters":{"sendTo":"tundaykebabi69@gmail.com","subject":"=New Lead: {{$json.name || \"Unknown\"}}","message":"={{\n`<p><strong>New Lead Received:</strong></p>\n<ul>\n  <li><strong>Name:</strong> ${$json.name || \"—\"}</li>\n  <li><strong>Email:</strong> ${$json.email || \"—\"}</li>\n  <li><strong>Phone:</strong> ${$json.phone || \"—\"}</li>\n  <li><strong>Company:</strong> ${$json.company || \"—\"}</li>\n  <li><strong>Message:</strong> ${$json.message || \"—\"}</li>\n</ul>\n<p><strong>Status:</strong> ${$json.status || \"New\"}</p>\n<hr/>\n<p style=\"color:#777;font-size:12px\">This email was sent automatically with n8n</p>`\n}}","options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[416,0],"id":"fe256bb3-d779-49f7-b8d7-8e127a92436e","name":"Send a message","webhookId":"c7563f6c-aca2-4021-9720-c6b1d3b7c86b","credentials":{"gmailOAuth2":{"id":"O5GsiCBNfDlTn54Z","name":"Gmail account"}}},{"parameters":{"calendar":{"__rl":true,"value":"tundaykebabi69@gmail.com","mode":"list","cachedResultName":"tundaykebabi69@gmail.com"},"start":"={{ $node[\"Webhook\"].json.start || $now }}","end":"={{ $node[\"Webhook\"].json.end || $now.plus(1, 'hour') }}","additionalFields":{"attendees":[],"description":"={{ $node[\"Webhook\"].json.description || \"\" }}","summary":"={{ $node[\"Webhook\"].json.title || \"Client Meeting\" }}"}},"type":"n8n-nodes-base.googleCalendar","typeVersion":1.3,"position":[624,0],"id":"8ec926c3-a8e7-4f01-8637-3319fea8ca32","name":"Create an event","credentials":{"googleCalendarOAuth2Api":{"id":"VEDlVfS45PasL33r","name":"Google Calendar account"}}},{"parameters":{"respondWith":"json","responseBody":"={{ {\n  status: \"ok\",\n  message: \"Lead added, email sent, and calendar event created successfully!\",\n  eventLink: $json.htmlLink,\n  eventId: $json.id\n} }}","options":{"responseCode":200}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[800,0],"id":"1fb96557-a611-42cf-8804-ae84bdeaef6a","name":"Respond to Webhook"}],"connections":{"Webhook":{"main":[[{"node":"Append row in sheet","type":"main","index":0}]]},"Append row in sheet":{"main":[[{"node":"Send a message","type":"main","index":0}]]},"Send a message":{"main":[[{"node":"Create an event","type":"main","index":0}]]},"Create an event":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"a4d592b1-3885-4c7b-bc15-de8d3879a4f8","triggerCount":0,"tags":[],"shared":[{"createdAt":"2025-10-09T12:27:59.312Z","updatedAt":"2025-10-09T12:27:59.312Z","role":"workflow:owner","workflowId":"rWrqbvNZPGqfQd4T","projectId":"usr9sRWbH5Gm8xl8","project":{"createdAt":"2025-09-25T06:39:43.266Z","updatedAt":"2025-10-04T05:46:06.787Z","id":"usr9sRWbH5Gm8xl8","name":"Kenny s <suzaan.shan123@gmail.com>","type":"personal","icon":null,"description":null}}]}